/** ========================= 
Contact Us Page CSS Start 
========================= **/

/** == Banner Section CSS Start == **/
.banner-section {
  &.contact-us-banner {
    padding: 40px 0;
    background-image: linear-gradient(
        180deg,
        rgba(6, 6, 6, 0.5),
        rgba(6, 6, 6, 0.5)
      ),
      url("../images/contact-us/banner/banner.webp");
  }
}
/** == Banner Section CSS End == **/

/** == Form Section CSS Start == **/
.contact-form-section {
  .contact-form {
    padding: 40px;
    margin-right: -100px;
    background-color: #fffbf2;

    .form-section {
      margin-top: 0px;
      width: 90%;
      .input-field {
        label {
          margin-top: 20px;
          font-weight: 600;
          color: $black;
        }
        input {
          margin-top: 7px;
          @include click-focus(
            1px solid #d9d9d9,
            none,
            transparent,
            $black,
            ""
          );

          width: 100%;
          padding: 5px 10px;
        }
      }

      .submit-btn {
        margin-top: 20px;
      }
    }
    input {
      box-shadow: none;
      border-radius: 0;
      @include click-focus(
        1px solid #d9d9d9,
        none,
        transparent,
        $gray-semi,
        ""
      );
      padding: 5px 10px;
    }
    .facility-option {
      position: relative;
      width: 100%;
      margin: 0px auto;
      .arrow {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-right: 2px solid #d9d9d9;
        border-top: 2px solid #d9d9d9;
        transform: rotate(135deg);
        position: absolute;
        top: 10px;
        z-index: 0;
        right: 15px;
        transition: all 0.5s ease;

        &.rotate {
          position: absolute;
          top: 15px;
          transform: rotate(-45deg);
        }
      }
      .custom-dropdown-value {
        width: 100%;
        padding: 10px 35px 10px 10px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        z-index: 1;
      }
      .custom-dropdown {
        position: absolute;
        width: 100%;
        background-color: white;
        list-style-type: none;
        padding: 0;
        margin: 0;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        li {
          a {
            display: block;
            padding: 10px;
            text-decoration: none;
            font-size: 14px;
            color: #444;
            transition: all 0.5s ease;
            &:hover {
              background-color: $blue;
              color: white;
            }
          }
        }

        &.open {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  // Form Part end

  .contact-info {
    width: 100%;
    padding: 80px 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 20px 20px 0px rgba(164, 164, 164, 0.25);
  }
}

.success {
  padding: 10px 15px;
  border: 1px solid #32a852;
  font-size: 14px;
  color: #32a852;
  background-color: #fff;
  display: none;
  margin-bottom: 20px;
}

.error {
  padding: 10px 15px;
  border: 1px solid #fa0f0f;
  font-size: 14px;
  color: #fa0f0f;
  background-color: #fff;
  display: none;
  margin-bottom: 20px;
}
/** == Form Section CSS End == **/

/** ========================= 
Contact Us Page CSS End 
========================= **/

/** ============================ Responsive CSS Start ============================ **/

//Large Device CSS start
@media (min-width: 0px) and (max-width: 1200px) {
  .contact-form-section {
    .contact-form {
      padding: 30px;
      .form-section {
        margin-top: 0;
        .input-field {
          input {
            width: 100%;
            margin-top: 7px;
            padding: 7px 0;
          }
        }
        .submit-btn {
          margin-top: 20px;
        }
      }
    }

    .contact-info {
      padding: 60px 30px;
    }
  }
}

//Medium Device CSS start
@media (min-width: 0px) and (max-width: 992px) {
  .contact-form-section {
    .contact-form {
      padding: 30px 15px;
      margin-right: -50px;

      .form-section {
        margin-top: 10px;
        .input-field {
          label {
            margin-top: 10px;
          }
          input {
            margin-top: 10px;
            width: 100%;
            padding: 8px;
          }
        }

        .submit-btn {
          margin-top: 20px;
        }
      }

      .facility-option {
        .arrow {
          top: 12px;
          right: 18px;
        }
      }
    }
    // Form Part end

    .contact-info {
      padding: 30px 15px;
      border-radius: 8px;
    }
  }
  // Form Section CSS End
}

//Small Device CSS start
@media (min-width: 0px) and (max-width: 768px) {
  .banner-section {
    &.nearby-banner {
      padding: 40px 0;
    }
  }
  //Banner Section CSS End

  .contact-form-section {
    .contact-form {
      margin-top: 30px;
      padding: 30px 15px;
      margin-right: 0;
      border-radius: 8px;
      .form-section {
        width: 100%;
        .input-field {
          input {
            width: 100%;
          }
        }

        .submit-btn {
          margin-top: 20px;
        }
      }
    }
    // Form Part end

    .contact-info {
      padding: 20px 15px;
      border-radius: 8px;
    }
  }

  .facility-option {
    .arrow {
      top: 14px;
      right: 20px;
    }
  }
  // Form Section CSS End
}

//Small Device CSS start
@media (min-width: 0px) and (max-width: 576px) {
}

/** ============================ Responsive CSS End ============================ **/
