.footer-section {
  background-color: #f4f3ff;
  padding: 64px 0;
  .footer-menu {
    margin-top: 3px;
    text-align: right;
    ul {
      li {
        display: inline-block;
        margin: 0 15px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-color: $gray-border;
          width: 2px;
          height: 25px;
          right: -18px;
        }
        a {
          font-size: 14px;
          color: $dark-gray;
        }
        &:last-child {
          &::after {
            display: none;
          }
          a {
            font-weight: 700;
          }
        }
      }
    }
  }
}

// Extra Large Device CSS start
@media (min-width: 0px) and (max-width: 1440px) {
  .footer-section {
    padding: 50px 0;
    p {
      font-size: 17px;
    }
    .footer-menu {
      ul {
        li {
          margin: 0 10px;
          &::after {
            height: 100%;
            right: -13px;
          }
          a {
            font-size: 14px;
          }
          &:last-child {
            &::after {
              display: none;
            }
            a {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

// Large Device CSS start
@media (min-width: 0px) and (max-width: 1200px) {
  .footer-section {
    p {
      font-size: 17px;
      text-align: center;
    }
    .footer-menu {
      margin-top: 20px;
      text-align: center;
    }
  }
}

// Large Device CSS start
@media (min-width: 0px) and (max-width: 992px) {
  .footer-section {
    p {
      font-size: 16px;
    }
    .footer-menu {
      margin-top: 10px;
      ul {
        li {
          margin: 7px 10px;
        }
      }
    }
  }
}

// Small Device CSS start
@media (min-width: 0px) and (max-width: 768px) {
  .footer-section {
    p {
      font-size: 16px;
      &.copyright-text {
        text-align: left;
      }
    }
    .footer-menu {
      margin-top: 20px;
      ul {
        li {
          display: block;
          text-align: left;
          margin: 7px 0;
          &::after {
            display: none;
          }
          a {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              background-color: $gray-border;
              width: 2px;
              height: 14px;
              top: 4px;
              right: -18px;
            }
            &.home,
            &.admin {
              &::after {
                display: none;
              }
            }
          }
          &:last-child {
            &::after {
              display: none;
            }
            a {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
