.gms-table {
  tr {
    &:last-child {
      border: 0;
      border-width: 0;
      td {
        border: 0;
      }
      &.single-unit {
        border-bottom: 0;
      }
    }
    th {
      color: #828282;
      font-weight: 600;
      border-bottom: 1px solid #bfbfbf !important;
      position: relative;

      &:last-child {
        border-right: none;
      }

      .border-right {
        position: absolute;
        display: inline-block;
        width: 1px;
        height: 30px;
        background: #bfbfbf;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &.unit-details-header {
        padding-left: 20px;
      }

      &.price-header {
        padding-left: 20px;
      }
    }
    //Table Header CSS end

    td {
      vertical-align: middle;
      position: relative;

      .border-right {
        position: absolute;
        display: inline-block;
        width: 1px;
        height: 50px;
        background: #bfbfbf;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &.size {
        color: #828282;
        font-size: 28px;
        font-weight: 600;
      }

      &.unit-details {
        color: #545454;
        font-size: 16px;
        font-weight: 400;
        padding-left: 20px;
      }

      &.price {
        color: #0601ff;
        font-size: 28px;
        font-weight: 600;
        padding-left: 20px;
        a {
          display: none;
        }
      }
    }
    //Table data CSS end

    &.single-unit {
      th {
        &.size,
        &.price-header {
          display: flex;
          align-items: center;
          span {
            margin-left: 4px;
            display: flex;
            align-items: center;
            gap: 4px;
            i {
              cursor: pointer;
              display: block;
            }
          }
        }
      }
    }
  }
}

.dataTable {
  tr {
    th {
      width: unset !important;
    }
  }
}

.dataTables_info {
  display: none !important;
}

table {
  &.dataTable {
    thead {
      tr {
        th {
          font-size: 18px;
          font-weight: 500;
          &.sorting {
            &::before {
              font-family: "icomoon" !important;
              content: "\e90d" !important;
              opacity: 1;
              top: 42%;
              left: 70px;
            }
            &::after {
              display: none;
            }
          }
          &.sorting_asc {
            &::before {
              font-family: "icomoon" !important;
              content: "\e91d" !important;
              opacity: 1;
              top: 42%;
              left: 70px;
            }
          }
          &.sorting_desc {
            &::before {
              font-family: "icomoon" !important;
              content: "\e90f" !important;
              opacity: 1;
              top: 42%;
              left: 70px;
            }
          }

          &:first-child {
            &.sorting {
              &::before {
                left: 50px;
              }
            }
            &.sorting_asc {
              &::before {
                left: 50px;
              }
            }
            &.sorting_desc {
              &::before {
                left: 50px;
              }
            }
          }
        }
      }
    }
  }

  &.gms-table {
    &.dataTable {
      thead {
        tr {
          th {
            &.unit-details-header,
            &.button-cell-header {
              &.sorting {
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 992px) {
  .gms-table {
    tr {
      th {
        &.unit-details-header {
          padding-left: 7px;
        }

        &.price-header {
          padding-left: 7px;
        }
      }
      //Table Header CSS end

      td {
        &.size {
          font-size: 24px;
        }

        &.unit-details {
          padding-left: 10px;
        }

        &.price {
          font-size: 24px;
          padding-left: 10px;
        }
      }
      //Table data CSS end
    }
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  table {
    &.dataTable {
      // border-spacing: 20px !important;
    }
  }
  .gms-table {
    tr {
      &.single-unit {
        &:last-child {
          border-bottom: 0;
        }
        th {
          &.unit-details-header {
            padding-left: 7px;
            display: none;
          }
          &.size {
            display: table-cell;
          }
          &.price-header {
            padding-left: 7px;
            display: table-cell;
          }
          &.button-cell-header {
            display: none;
          }
          &.sorting {
            &::before {
              left: 60px;
            }
          }
          &.sorting_asc {
            &::before {
              left: 60px;
            }
          }
          &.sorting_desc {
            &::before {
              left: 60px;
            }
          }
        }

        td {
          &.size {
            font-size: 24px;
            .size-desc {
              font-size: 14px;
              font-weight: 400;
              position: relative;
              margin-top: 15px;
              &::after {
                position: absolute;
                content: "";
                top: -15px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $gray-border;
              }
            }
          }

          &.unit-details {
            display: none;
          }

          &.price {
            font-size: 24px;
            padding-left: 10px;
            span {
              position: relative;
              display: block;
              &::before {
                position: absolute;
                content: "";
                bottom: -12px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $gray-border;
              }
            }
            a {
              display: inline-block;
              font-size: 13px;
              i {
                font-size: 13px;
              }
              font-weight: 600;
              &.outline-button {
                margin-top: 20px;
                padding: 5px 10px;
                max-width: unset;
              }
            }
          }
          &.call-btn {
            display: none;
          }
        }
        //Table data CSS end
      }
      //Table Header CSS end
    }
  }
}
