/** ========================= 
Home Page CSS Start 
========================= **/

/** == Banner Section CSS Start == **/
.banner-section {
  padding: 100px 0;
  background-image: linear-gradient(
      180deg,
      rgba(6, 6, 6, 0.5),
      rgba(6, 6, 6, 0.5)
    ),
    url("../images/home/banner/banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  .container {
    .banner-content {
      margin: 0 auto;
      max-width: 1400px;
    }

    h1 {
      font-weight: 700;
      color: white;
    }
    p {
      margin-top: 20px;
      font-size: 20px;
      color: white !important;
    }
    .cta-btn {
      margin-top: 50px;
    }
  }
}
/** == Banner Section CSS End == **/

/** == Location Section CSS Start == **/
.location-section {
  background-image: url(../images/home/locations/vector.png);
  background-size: cover;
  background-repeat: no-repeat;

  .storage-unit {
    .map-one-img {
      margin-right: -200px;
      img {
        border-radius: 12px;
      }
    }
    .map-two-img {
      margin-left: -200px;
      img {
        border-radius: 12px;
      }
    }
    .map-wrapper {
      position: relative;
      width: 100%;
      .one {
        position: absolute;
        z-index: 0;
        top: -70px;
        right: -30px;
        i {
          &.icon-one {
            font-size: 140px;
            font-weight: 400;
            color: $yellow;
          }
        }
      }
      .two {
        position: absolute;
        z-index: 0;
        top: -90px;
        left: -30px;
        i {
          &.icon-two {
            font-size: 140px;
            font-weight: 400;
            color: $yellow;
          }
        }
      }
      .map-content {
        position: relative;
        z-index: 9;
        padding: 80px 40px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 20px 20px 0px rgba(164, 164, 164, 0.25);
      }
    }
  }
}
/** == Location Section CSS End == **/

/** ========================= 
Home Page CSS End 
========================= **/

/** ============================ Responsive CSS Start ============================ **/

//Large Device CSS start
@media (min-width: 0px) and (max-width: 1200px) {
  .banner-section {
    padding: 80px 0;
  }
  .location-section {
    .storage-unit {
      .map-wrapper {
        .map-content {
          padding: 50px 30px;
        }
      }
    }
  }
  //Location Section CSS End
}

//Medium Device CSS start
@media (min-width: 0px) and (max-width: 992px) {
  .banner-section {
    padding: 60px 0;
    .container {
      p {
        font-size: 20px;
      }
    }
  }
  //Banner Section CSS End

  .location-section {
    .storage-unit {
      .map-one-img {
        margin-right: 0;
      }
      .map-two-img {
        margin-left: 0;
      }
      .map-wrapper {
        .one {
          z-index: 10;
          right: 20px;
          i {
            &.icon-one {
              font-size: 100px;
            }
          }
        }
        .two {
          z-index: 10;
          left: 20px;
          top: -70px;
          i {
            &.icon-two {
              font-size: 100px;
            }
          }
        }
      }
      .map-content {
        margin-top: -15px;
      }
    }
    .first-padding {
      padding: 20px 0;
    }
  }
  //Location Section CSS End
}

//Small Device CSS start
@media (min-width: 0px) and (max-width: 768px) {
  .banner-section {
    padding: 40px 0;
    .container {
      p {
        margin-top: 5px;
        font-size: 18px;
      }
      .cta-btn {
        margin-top: 30px;
      }
    }
  }
  //Banner Section CSS End
}

//Extra Small or Mobile Device CSS start
@media (min-width: 0px) and (max-width: 576px) {
  .banner-section {
    .container {
      min-height: unset;
      p {
        font-size: 14px;
      }
    }
  }
  //Banner Section CSS End

  .location-section {
    .storage-unit {
      .map-wrapper {
        .one {
          top: -40px;
          i {
            &.icon-one {
              font-size: 60px;
            }
          }
        }
        .two {
          top: -40px;
          right: 20px;
          left: unset;
          i {
            &.icon-two {
              font-size: 60px;
            }
          }
        }
        .map-content {
          padding: 30px 20px;
          margin-top: -15px;
        }
      }
    }
    .first-padding {
      padding: 20px 0;
    }
  }
  //Location Section CSS End
}

/** ============================ Responsive CSS End ============================ **/
