/** ========================= 
Nearby Page CSS Start 
========================= **/

/** == Banner Section CSS Start == **/
.banner-section {
  &.nearby-banner {
    padding: 60px 0;
    background-image: linear-gradient(
        180deg,
        rgba(6, 6, 6, 0.5),
        rgba(6, 6, 6, 0.5)
      ),
      url("../images/nearby/banner/banner.webp");
  }
}
/** == Banner Section CSS End == **/

/** ========================= 
Nearby Page CSS End 
========================= **/

/** ============================ Responsive CSS Start ============================ **/

//Large Device CSS start
@media (min-width: 0px) and (max-width: 1200px) {
}

//Medium Device CSS start
@media (min-width: 0px) and (max-width: 992px) {
}

//Small Device CSS start
@media (min-width: 0px) and (max-width: 768px) {
  .banner-section {
    &.nearby-banner {
      padding: 40px 0;
    }
  }
  //Banner Section CSS End
}

//Small Device CSS start
@media (min-width: 0px) and (max-width: 576px) {
}

/** ============================ Responsive CSS End ============================ **/
