/** ========================= 
Size Guide Page CSS Start 
========================= **/

/** == Banner Section CSS Start == **/
.banner-section {
  &.size-guide-banner {
    padding: 60px 0;
    background-image: linear-gradient(
        180deg,
        rgba(6, 6, 6, 0.63),
        rgba(6, 6, 6, 0.63)
      ),
      url("../images/size-guide/banner/size-guide-banner.webp");
  }
}
/** == Banner Section CSS End == **/

/** == Storage Calculator Section CSS Start == **/
.storage-calculator-section {
  padding-bottom: 100px;
  .category {
    ul {
      margin-top: 0;
      margin-bottom: 30px;
      background-color: transparent;
      li {
        display: inline-block;
        margin-right: 20px;

        @media screen and (max-width: 768px) {
          display: inherit;
        }
        a {
          display: inline-block;
          padding-left: 30px;
          padding-right: 30px;
          background-color: #f4f3ff;

          @media screen and (max-width: 768px) {
            display: inherit;
          }
        }
      }
    }
  }

  .category-details {
    overflow-y: auto;
    height: 500px;
    scrollbar-color: $blue $gray-normal !important; /* track thumb */
    scrollbar-width: 10px !important; /* none, thin, or auto */

    &::-webkit-scrollbar {
      width: 5px !important;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      padding: 2px;
      box-shadow: inset 0 0 5px $gray-normal !important;
      border-radius: 10px !important;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $blue !important;
      border-radius: 10px !important;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $blue !important;
    }

    .single-unit {
      padding: 0;
      p {
        &.common-pl {
          padding-left: 0;
        }
      }
      .wrapper {
        padding: 20px 0;
        .store-size {
          display: flex;
          align-items: center;
        }
      }
      .unit-price-count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price-count {
          .plus-minus {
            margin-top: 8px;
            a {
              i {
                font-size: 24px;
                line-height: 0;
                color: $blue;
              }
            }
          }
          .input-count {
            input {
              @include click-focus(
                1px solid $dark-gray,
                none,
                transparent,
                $black,
                block
              );
              max-width: 70px;
              padding: 10px 10px;
              border-radius: 4px;
              text-align: center;
            }
          }
        }
        .refresh {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
  //Category details end

  //Unit heading css end
  .bed-room-content {
    padding: 20px;
    border-top: 1px solid $gray-border;
    border-left: 1px solid $gray-border;
    border-right: 1px solid $gray-border;
    border-bottom: 1px solid $gray-border;
    border-radius: 8px;
    h5 {
      font-weight: 600;
      color: $blue;
    }
    .container-img {
      margin: 20px 0;
      background-position: center left;
      background-repeat: no-repeat;
      background-size: contain;
      height: 268px;
    }
    .bed-dimension {
      h4 {
        color: $blue;
      }
    }
    .bed-description {
      margin-top: 20px;
    }
  }
  // Content for bedroom end

  .clean-selection {
    margin-top: 20px;
    border: 1px solid $gray-border;
    border-radius: 8px;

    a {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: end;
      font-weight: 500;
      color: $gray-semi;
      cursor: pointer;
      i {
        color: $yellow;
        margin-right: 10px;
      }
    }
  }
  //Clean selection end
}
/** == Storage Calculator Section CSS End == **/

/** ========================= 
Size Guide Page CSS End 
========================= **/

/** ============================ Responsive CSS Start ============================ **/
//Large Device CSS start
@media (min-width: 0px) and (max-width: 1200px) {
  //Banner Section CSS End
}

//Medium Device CSS start
@media (min-width: 0px) and (max-width: 992px) {
  //Banner Section CSS End

  .storage-calculator-section {
    padding-bottom: 50px;

    .category-details {
      .single-unit {
        .wrapper {
          padding: 15px 0;
        }
        .unit-price-count {
          display: grid;
          .price-count {
            .plus-minus {
              a {
                i {
                  font-size: 20px;
                }
              }
            }
            .input-count {
              margin-left: 0;
              input {
                width: 60px;
                padding: 5px 10px;
              }
            }
          }
          .refresh {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      //Unit heading css end
    }

    .category {
      ul {
        li {
          margin-right: 10px;
          a {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }

    .bed-room-content {
      padding: 20px;
      border-top: 1px solid $gray-border;
      border-left: 1px solid $gray-border;
      border-right: 1px solid $gray-border;
      h5 {
        font-weight: 600;
        color: $blue;
      }
      .bed-room-img {
        margin: 20px 0;
        img {
          max-width: 200px;
        }
      }
      .bed-dimension {
        h4 {
          color: $blue;
        }
      }
      .bed-description {
        margin-top: 20px;
      }
    }
  }
  // Storage Calculator Section CSS End
}

//Small Device CSS start
@media (min-width: 0px) and (max-width: 768px) {
  .banner-section {
    &.size-guide-banner {
      padding: 40px 0;
    }
  }
  //Banner Section CSS End

  .storage-calculator-section {
    padding-bottom: 50px;

    .category {
      ul {
        &.nav {
          display: -webkit-box;
          flex-wrap: initial;
          align-items: center;
          overflow-x: scroll;
        }
      }
    }

    .category-details {
      .single-unit {
        .wrapper {
          padding: 15px;
          .store-size {
            display: block;
            p {
              &.common-pl {
                padding-left: 0;
              }

              &.unit-details {
                margin-top: 30px;
              }
            }

            .size-title {
              position: relative;

              p {
                &::after {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  left: 0;
                  bottom: -15px;
                  background-color: $gray-border;
                }
              }
            }
          }
        }

        .unit-price-count {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .price-count {
            width: 100%;
            .plus-minus {
              padding-left: 0;
              a {
                i {
                  font-size: 20px;
                }
              }
            }
            .input-count {
              margin-left: 0;
              input {
                width: 70px;
                padding: 8px 10px;
              }
            }
          }
          .refresh {
            margin-bottom: 30px;
            font-size: 16px;
            width: 100%;
            display: block;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              left: 0;
              bottom: -15px;
              background-color: $gray-border;
            }
          }
        }
        .store-unit-details {
          display: none !important;
        }

        &.last-unit {
          border-bottom: 1px solid $gray-border;
        }
      }
      //Unit heading css end
    }
    // Category Details end

    .bed-room-content {
      margin: 20px 0;
      padding: 20px;
      border-top: 1px solid $gray-border;
      border-left: 1px solid $gray-border;
      border-right: 1px solid $gray-border;
      border-bottom: 1px solid $gray-border;
      h5 {
        font-weight: 600;
        color: $blue;
      }
      .bed-room-img {
        margin: 20px 0;
      }
      .bed-dimension {
        h4 {
          color: $blue;
        }
      }
      .bed-description {
        margin-top: 20px;
      }
    }
  }
  // Storage Calculator Section CSS End
}

//Extra Small Device CSS start
@media (min-width: 0px) and (max-width: 576px) {
  //Banner Section CSS End

  .storage-calculator-section {
    .category-details {
      .single-unit {
        .unit-price-count {
          .price-count {
            .plus-minus {
              padding-left: 0;
              a {
                i {
                  font-size: 18px;
                }
              }
            }
            .input-count {
              margin-left: 0;
              input {
                width: 60px;
                padding: 8px 10px;
              }
            }
          }
        }
        //Unit heading css end
      }
      // Single unit css end

      .bed-room-content {
        margin: 20px 0;
        padding: 20px;
        .bed-room-img {
          margin: 10px 0;
        }
      }
      // Selected bed room end
    }

    // Storage Calculator Section CSS End
  }
}
/** ============================ Responsive CSS Start ============================ **/
