/** ========================= 
Size Guide Page CSS Start 
========================= **/

/** == Banner Section CSS Start == **/
.banner-section {
  &.size-guide-banner {
    .banner-container {
      min-height: 450px;
      background-image: linear-gradient(
          180deg,
          rgba(6, 6, 6, 0.8),
          rgba(6, 6, 6, 0.8)
        ),
        url("../images/size-guide/banner/size-guide-banner.webp");
    }
  }
}
/** == Banner Section CSS End == **/

/** == Storage Calculator Section CSS Start == **/
.storage-calculator-section {
  .category {
    ul {
      margin-top: 0;
    }
  }

  .category-details {
    .single-unit {
      .unit-price-count {
        .price-count {
          .plus-minus {
            a {
              i {
                font-size: 24px;
                color: $blue;
              }
            }
          }
          .input-count {
            input {
              @include click-focus(none, none, $gray-border, $black, block);
              width: 85px;
              padding: 20px 10px;
              border-radius: 4px;
            }
          }
        }
        .refresh {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
/** == Storage Calculator Section CSS End == **/

/** ========================= 
Size Guide Page CSS End 
========================= **/
