/** ========================= 
Unit Prices Page CSS Start 
========================= **/

/** == Banner Section CSS Start == **/
.banner-section {
  &.unit-prices-banner {
    .container {
      min-height: 600px;
      background-image: linear-gradient(
          180deg,
          rgba(6, 6, 6, 0.5),
          rgba(6, 6, 6, 0.5)
        ),
        url("../images/unit-prices/banner/unit-price-banner.webp");
    }
  }
}
/** == Banner Section CSS End == **/

/** == Office Access Times Section CSS Start == **/
.office-time-section {
  .office-time {
    padding: 0 100px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: $gray-normal;
    }
    &.access-time {
      &::after {
        display: none;
      }
    }
    i {
      font-size: 60px;
      color: $yellow;
    }
    h6 {
      margin-bottom: 12px;
    }
    p {
      font-weight: 500;
      color: $black;
      margin-bottom: 5px;
      &.text-transparent {
        color: transparent;
      }
      &.fw-par {
        font-weight: 600;
      }
    }
  }
}
/** == Office Access Times Section CSS End == **/

/** == Unit Filter CSS Start == **/
.unit-filter-section {
  .search-box {
    form {
      padding: 18px;
      display: flex;
      border: 1px solid $yellow;
      border-radius: 8px;
      input {
        width: 100%;
      }
      input,
      button {
        @include click-focus(
          none,
          none,
          transparent,
          inline-block,
          $gray-normal
        );
        i {
          font-size: 24px;
          color: $gray-normal;
        }
      }
    }
  }
  //Search Box End

  .category {
    ul {
      margin-top: 20px;
      background-color: #f4f3ff;
      border-radius: 8px;
      li {
        a {
          display: block;
          padding-top: 13px;
          padding-bottom: 13px;
          border-radius: 8px;
          text-align: center;
          font-size: 20px;
          color: $gray-normal;
          transition: all 0.3s ease-in;
          &.active,
          &:hover {
            background-color: $blue;
            color: white;
          }
        }
      }
    }
  }
  // Category End

  .category-details {
    padding: 0 30px;
    border: 1px solid $gray-border;
    border-radius: 8px;
    .single-unit {
      padding: 20px 0;
      border-bottom: 1px solid $gray-border;

      p {
        @include flex-position(flex, start, center);
        font-weight: 600;
        color: $gray-semi;
        &.unit-details {
          font-size: 15px;
          font-weight: 400;
        }
      }

      h5 {
        @include flex-position(flex, start, center);
        margin-bottom: 0;
        font-weight: 600;
        color: $gray-semi;
        &.price {
          color: $blue;
        }
      }

      .call-btn {
        a {
          @include btn(20px 50px, 20px, 190px, white, $gray-normal);
          transition: all 0.3s ease-in;
          &:hover {
            background-color: $yellow;
            color: $black;
          }
        }
      }

      .store-size,
      .store-unit-details,
      .unit-price,
      .call-btn {
        @include flex-position(flex, start, center);
        position: relative;
      }

      .head-size,
      .head-unit {
        position: relative;
      }

      .head-size,
      .head-unit,
      .store-size,
      .store-unit-details {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          background-color: $gray-semi;
        }
      }

      &.last-unit {
        border-bottom: 0;
      }
    }
  }
}
/** == Unit Filter CSS End == **/

/** == Location CSS Start == **/
.location-bg-none {
  background-image: none;
}
/** == Location CSS End == **/

/** == Driving Direction CSS Start == **/
.driving-directions-section {
  .driving-direction-content {
    &.top-margin {
      margin-top: 40px;
    }
  }

  h6 {
    color: $gray-semi;
  }
}
/** == Driving Direction CSS End == **/

/** == CTA CSS Start == **/
.checkout-cta-section {
  padding: 80px 0;
  h4 {
    font-weight: 700;
  }
}
/** == CTA CSS End == **/

.testimonial-modal {
  .modal-dialog {
    max-width: 570px;
    .modal-content {
      padding: 50px;
      border-radius: 15px;
      .modal-header {
        padding: 0;
        button {
          @include click-focus(none, none, transparent, $gray-semi, "");
          font-size: 26px;
          cursor: pointer;
          position: relative;
          z-index: 10;
        }
      }
      .modal-body {
        padding: 0;
        .rating {
          margin-top: -25px;
          p {
            i {
              font-size: 24px;
              color: $yellow;
            }
          }
        }
        //Rating End

        .contact-form {
          .input-field {
            label {
              margin-top: 20px;
              font-weight: 600;
              color: $black;
            }
            input,
            select,
            textarea {
              margin-top: 10px;
              padding: 10px 20px;
              width: 100%;
              border-radius: 4px;
              box-shadow: none;
              @include click-focus(
                1px solid #d9d9d9,
                none,
                transparent,
                $gray-semi,
                ""
              );
              option {
                background-color: $blue;
                padding: 20px 0;
                color: white;
              }
            }
          }

          body {
            font-family: verdana;
          }
          .facility-option {
            position: relative;
            width: 100%;
            margin: 0px auto;
            .arrow {
              display: inline-block;
              width: 10px;
              height: 10px;
              border-right: 2px solid #d9d9d9;
              border-top: 2px solid #d9d9d9;
              transform: rotate(135deg);
              position: absolute;
              top: 17px;
              z-index: 0;
              right: 15px;
              transition: all 0.5s ease;

              &.rotate {
                position: absolute;
                top: 20px;
                transform: rotate(-45deg);
              }
            }
            .custom-dropdown-value {
              width: 100%;
              padding: 10px 35px 10px 10px;
              border: 1px solid #d9d9d9;
              border-radius: 5px;
              box-sizing: border-box;
              cursor: pointer;
              position: relative;
              z-index: 1;
            }
            .custom-dropdown {
              position: absolute;
              width: 100%;
              background-color: white;
              list-style-type: none;
              padding: 0;
              margin: 0;
              border: 1px solid #d9d9d9;
              border-radius: 5px;
              opacity: 0;
              visibility: hidden;
              li {
                a {
                  display: block;
                  padding: 10px;
                  text-decoration: none;
                  font-size: 14px;
                  color: #444;
                  transition: all 0.5s ease;
                  &:hover {
                    background-color: $blue;
                    color: white;
                  }
                }
              }

              &.open {
                opacity: 1;
                visibility: visible;
              }
            }
          }

          .form-alert {
            margin: 30px 0;
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
//Testimonial Modal End

.call-modal {
  .modal-dialog {
    max-width: 744px;
    .modal-content {
      padding: 30px;
      border-radius: 15px;
      .modal-header {
        padding: 0 10px 30px;
        button {
          @include click-focus(none, none, transparent, $gray-semi, "");
          font-size: 26px;
          cursor: pointer;
          position: relative;
          z-index: 10;
        }
      }
      //Modal Header End

      .modal-body {
        padding: 20px 10px;
        .selected-item {
          margin: 30px 0;
          padding: 10px 15px;
          background-color: #ececec;
          p {
            font-size: 16px;
          }
          .selected-content {
            display: flex;
            align-items: center;
            h5 {
              padding-top: 15px;
              padding-bottom: 15px;
              margin-bottom: 0;
              &.size {
                color: $gray-semi;
              }
            }
            &.one,
            &.two {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                background-color: $gray-semi;
              }
            }
          }
        }
        .phone-number {
          margin-top: 40px;
        }
      }
      //Modal Body End

      .modal-footer {
        .modal-cta {
          button {
            background-color: $gray-normal;
            &:hover {
              background-color: $yellow;
              color: $black;
            }
          }
        }
      }
    }
  }
}
//Call Modal end
/** == CTA CSS End == **/

/** ========================= 
Unit Prices Page CSS End 
========================= **/

/** ============================ Responsive CSS Start ============================ **/

//Large Device CSS start
@media (min-width: 0px) and (max-width: 1200px) {
  .banner-section {
    &.unit-prices-banner {
      .container {
        min-height: 450px;
      }
    }
  }
  //Banner Section CSS End

  .office-time-section {
    .office-time {
      padding: 0 40px;
    }
  }
  // Office Access Times Section CSS Start
  .unit-filter-section {
    .category-details {
      padding: 0 30px;
      .single-unit {
        .call-btn {
          a {
            @include btn(10px 30px, 16px, 130px, white, $gray-normal);
            i {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  //Unit filter css end
}

//Medium Device CSS start
@media (min-width: 0px) and (max-width: 992px) {
  .banner-section {
    &.unit-prices-banner {
      .container {
        min-height: 400px;
      }
    }
  }
  //Banner Section CSS End

  .office-time-section {
    .office-time {
      padding: 0px;
    }
  }
  // Office Access Times Section CSS Start

  .unit-filter-section {
    .search-box {
      form {
        padding: 8px;
        border-radius: 5px;
        button {
          i {
            font-size: 16px;
          }
        }
      }
    }

    .category-details {
      padding: 0 10px;
      .single-unit {
        padding: 10px 0;
        .call-btn {
          a {
            @include btn(7px 20px, 14px, 100px, white, $gray-normal);
            i {
              font-size: 14px;
            }
          }
        }
      }
    }

    .category {
      ul {
        li {
          a {
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 5px;
            font-size: 16px;
          }
        }
      }
    }
  }

  //Unit filter css end
}

//Small Device CSS start
@media (min-width: 0px) and (max-width: 768px) {
  .banner-section {
    &.unit-prices-banner {
      .container {
        min-height: 350px;
      }
    }
  }
  //Banner Section CSS End

  .office-time-section {
    .office-time {
      padding: 0px;
      &::after {
        right: -12px;
      }
      p {
        &.text-transparent {
          display: none;
        }
      }
    }
  }
  // Office Access Times Section CSS Start

  .unit-filter-section {
    .category-details {
      padding: 0;
      border: 0;
      .single-unit {
        border-bottom: 1px solid #bfbfbf;
        border-top: 1px solid #bfbfbf;
        border-right: 1px solid #bfbfbf;
        border-left: 1px solid #bfbfbf;
        margin-top: 20px;
        padding: 15px 20px;
        border-radius: 5px;
        .store-size {
          .store-div {
            position: relative;
            width: 100%;
            display: block;
            h5 {
              text-align: center;
              width: 100%;
              display: block;
              &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: -10px;
                background-color: $gray-border;
              }
            }
          }
        }

        .unit-price {
          .price-div {
            position: relative;
            width: 100%;
            h5 {
              text-align: center;
              width: 100%;
              display: block;
              &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: -10px;
                background-color: $gray-border;
              }
            }
          }
        }
        //Price information css end

        .store-unit-details {
          display: flex;
          justify-content: center;
          p {
            &.unit-details {
              padding-top: 20px;
            }
          }
        }
        //Store unit details end

        .call-btn {
          padding-top: 20px;
          display: flex;
          justify-content: center;
          a {
            @include btn(10px 20px, 16px, 85px, white, $gray-normal);
            i {
              font-size: 16px;
            }
          }
        }
        //CTA button css end

        &.last-unit {
          border-bottom: 1px solid $gray-border;
        }
      }
    }

    .category {
      ul {
        display: flex;
        overflow-x: auto;
        justify-content: center;
        padding: 10px 0;
        background-color: transparent;
        li {
          padding: 0px 10px;
          a {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 5px;
            font-size: 16px;
            background-color: #f4f3ff;
          }
        }
      }
    }
  }
  //Unit filter css end

  .testimonial-modal {
    .modal-dialog {
      .modal-content {
        padding: 20px;
        .modal-body {
          padding: 0;
          .rating {
            margin-top: -20px;
            p {
              i {
                font-size: 20px;
              }
            }
          }
          //Rating End

          .contact-form {
            .input-field {
              margin-top: 0;
              label {
                margin-top: 10px;
                font-size: 14px;
              }
              input,
              select,
              textarea {
                margin-top: 7px;
                padding: 7px 15px;
                option {
                  padding: 15px 0;
                }
              }
            }

            .form-alert {
              margin: 10px 0;
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  //Testimonial Modal End

  .call-modal {
    .modal-dialog {
      .modal-content {
        padding: 20px;
        .modal-header {
          padding: 0 10px 15px;
        }
        //Modal Header End

        .modal-body {
          padding: 15px 10px;
          .selected-item {
            margin: 15px 0;
            padding: 10px;
            p {
              font-size: 14px;
              &.common-pl {
                padding-left: 0;
              }
            }
            .selected-content {
              h5 {
                padding-top: 15px;
                padding-bottom: 15px;
                margin-bottom: 0;
                &.common-pl {
                  padding-left: 0;
                }
              }
              .heading-size {
                position: relative;
                width: 100%;
                display: block;
                h5 {
                  &.size {
                    &::after {
                      content: "";
                      position: absolute;
                      top: unset;
                      right: unset;
                      bottom: 10px;
                      left: 0;
                      width: 100%;
                      height: 1px;
                      background-color: $gray-border;
                    }
                  }
                }
              }

              .price {
                display: block;
                width: 100%;
                text-align: center;
              }

              &.one,
              &.two {
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 1px;
                  height: 100%;
                  background-color: $gray-semi;
                }
              }
            }
          }
          .phone-number {
            margin-top: 20px;
          }
        }
        //Modal Body End
      }
    }
  }
  //Call Modal End

  .checkout-cta-section {
    padding: 50px 0;
  }
  // CTA CSS End
}

//Extra Small Device CSS start
@media (min-width: 0px) and (max-width: 576px) {
  .banner-section {
    &.unit-prices-banner {
      .container {
        min-height: 300px;
      }
    }
  }
  //Banner Section CSS End

  .office-time-section {
    .office-time {
      padding: 0px;
      padding-bottom: 30px;
      i {
        font-size: 45px;
      }
      p {
        &.text-transparent {
          display: none;
        }
      }
      &::after {
        right: unset;
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
      }

      &.access-time {
        padding-top: 30px;
      }
    }
  }
  // Office Access Times Section CSS Start

  .unit-filter-section {
    padding-top: 0;
    .category-details {
      padding: 0;
      .single-unit {
        padding: 15px;
        .call-btn {
          a {
            @include btn(7px 15px, 14px, 80px, white, $gray-normal);
            i {
              font-size: 14px;
            }
          }
        }

        .common-pl {
          padding-left: 15px;
        }
      }
    }
  }

  .unit-filter-section .category ul li {
    padding: 0px 5px;
  }

  //Unit filter css end
}

/** ============================ Responsive CSS End ============================ **/
